body {
    background-color: #131314;
    color: #d3d3d3;

    font-family: Segoe UI, Roboto, Helvetica, sans-serif;
}
h1 {
    margin-top: 3vh;
}

.inlinetables {
    display: grid;
    grid-template-columns: minmax(0, 4fr) minmax(0, 2fr);
    margin-top: 5vh;
}

@media screen and (max-width: 1400px) {
    .inlinetables {
        grid-template-columns: 1fr;
    }
}

.trackertable table {
    width: 95%;
    border-collapse: collapse;
    /*border-style: hidden;*/
    margin-left: 4vh;
}

.trackertable tbody{
    background: linear-gradient(to bottom, #4d6387 50%, #ad5149 50%);
}

.trackertable td:nth-child(5){
    padding-left: 6vh;
}
.trackertable th:nth-child(5){
    padding-left: 6vh;
}

.trackertable th {
    background-color: #1d1d1d;
    height: 56px;
    margin-left: -2vh;
    text-align: left;
    padding-left: 4vh;
}

.trackertable tr:nth-child(n+2):nth-child(-n+6) {
    border: 2px solid black;
}

.trackertable td:first-child {
    min-width: 220px;
    max-width: 300px;
}

.trackertable td:nth-child(n+2):nth-child(-n+4) img{
    margin-left: -2vh;
}

.trackertable td:nth-child(n+2):nth-child(-n+4) {
    background-color: rgba(0, 0, 0, 0.20);
}
.trackertable th:nth-child(n+2):nth-child(-n+4) {
    background-color: #282829;
}

.trackertable td {
    margin: 2vh;
    height: 6vh;
    background-color: rgba(0, 0, 0, 0.3);
    color: #c7c5c5;
    padding-left: 4vh;
}

.tier {
    height: 42px;
    width: 42px;
}

.flag {
    height: 20px;
    width: 32px;
}

.platform {
    height: 32px;
    width: 32px;
}

.namecontainer {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nameurl {
    display: inline-block;
    margin-left: -10px;
}

.socialscontainer {
    margin-right: 25px;
    margin-top: 5px;
    display: inline-block;
}

.social {
    height: 24px;
    width: 24px;
    padding-left: 6px;
}

a:link {
    text-decoration: none;
    color: #c7c5c5;
}

a:visited {
    text-decoration: none;
    color: #c7c5c5;
}

a:hover {
    text-decoration: underline;
    color: #c7c5c5;
}

a:active {
    text-decoration: underline;
    color: #c7c5c5;
}
span {
    margin-left: -1vh;
}

.topnav {
    background-color: #1c1c1c;
    overflow: hidden;
    height: 60px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -10px;
}

.rl_icon {
    height: 50px;
    width: 50px;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
}

.topnavbutton {
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #252526;
    color: #d3d3d3;
    border: none;
}
.play {
    width: 28px;
    height: 28px;
    display: inline-block;
    -ms-transform: translateY(40%);
    transform: translateY(40%);
    padding-right: 10px;
}

.title {
    display: inline-block;
    font-size: 11pt;
    /*font-family: "Helvetica";*/
    text-align: center;
    -ms-transform: translateY(15%);
    transform: translateY(15%);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.title.visible {
    opacity: 1;
}

.github {
    float: right;
    width: 28px;
    height: 28px;
    margin-right: 20px;
    -ms-transform: translateY(65%);
    transform: translateY(65%);
}