.trackertable table {
    width: 110%;
}

@media (min-width: 1026px) {
    .mobile-view {
        display: none;
    }

    .trackertable table {
        border-collapse: collapse;
        margin-right: 0;
    }

    .trackertable tbody{
        background: linear-gradient(to bottom, #36455E 50%, #793933 50%);
    }

    .trackertable td:nth-child(5){
        padding-left: 6vh;
    }
    .trackertable th:nth-child(5){
        padding-left: 6vh;
    }

    .trackertable th {
        background-color: #1d1d1d;
        margin-left: -2vh;
        text-align: left;
        padding-left: 4vh;
    }

    .trackertable tr {
        border-top: 2px solid black;
    }

    .trackertable tr:first-child {
        border: none;
    }

    .trackertable td:first-child {
        min-width: 220px;
        max-width: 300px;
    }

    .trackertable td:nth-child(n+2):nth-child(-n+4) img{
        margin-left: -2vh;
    }

    .trackertable td:nth-child(n+2):nth-child(-n+4) {
        background-color: rgba(255, 255, 255, 0.05);
        min-width: 2.5vw;
    }
    .trackertable th:nth-child(n+2):nth-child(-n+4) {
        background-color: rgba(255, 255, 255, 0.07);
    }

    .trackertable td {
        margin: 2vh;
        height: 6vh;
        color: #c7c5c5;
        padding-left: 4vh;
    }

    .tier {
        height: 42px;
        width: 42px;
    }

    .flag {
        height: 20px;
        width: 32px;
    }

    .platform {
        height: 32px;
        width: 32px;
    }

    .namecontainer {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .nameurl {
        display: inline-block;
        margin-left: -10px;
    }

    .socialscontainer {
        margin-right: 25px;
        margin-top: 5px;
        display: inline-block;
    }

    .social {
        height: 24px;
        width: 24px;
        padding-left: 6px;
    }
}

@media screen and (max-width: 1024px) {
    table {
        display: none;
    }
    .mobile-view {
        display: flex !important;
        flex-direction: column;
        height: 100vh;
    }

    .card {
        display: flex;
        flex-direction: column;
        padding: 16px;
        margin: 16px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .data {
        display: flex;
        flex-direction: row;
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 1.4;
        color: #555;
    }

    .label {
        font-weight: bold;
        margin-right: 8px;
    }
}

