.basetable_container {
    margin-left: 4vh;
    margin-right: 2.5vh;
}

.basetablenav {
    background-color: #1d1d1d;
    height: 57px;
    width: 100%;
    display: flex;
    position: relative;
}

.basetablenav div {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 55px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: inherit;
}

.basetable {
    text-align: center;
    font-size: 18pt;
    height: 320px;
    border: 5px solid #1d1d1d;
    border-top: none;
    background-color: #161616;
}

.basetablewaiting {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.basetablewaiting img {
    width: 105px;
    margin-top: 7%;
}

.basetablewaiting .notplaying {
    color: dimgray;
    font-size: 16px;
}