.trackertable table {
    width: 110%;
}

.trackertable table {
    border-collapse: collapse;
    margin-right: 0;
}

.trackertable tbody{
    background: linear-gradient(to bottom, #36455E 50%, #793933 50%);
}

.trackertable th {
    background-color: #1d1d1d;
    margin-left: -2vh;
    text-align: left;
    padding-left: 4vh;
    height: 6vh;
}

.trackertable tr {
    border-top: 2px solid black;
}

.trackertable tr:first-child {
    border: none;
}

.trackertable td:first-child {
    min-width: 12vw;
    max-width: 16vw;
}

.trackertable td:nth-child(n+2):nth-child(-n+4) img{
    margin-left: -2vh;
}

.trackertable td:nth-child(n+2):nth-child(-n+4) {
    background-color: rgba(255, 255, 255, 0.05);
    min-width: 2.5vw;
}
.trackertable th:nth-child(n+2):nth-child(-n+4) {
    background-color: rgba(255, 255, 255, 0.07);
}

.trackertable td {
    margin: 2vh;
    height: 6vh;
    color: #c7c5c5;
    padding-left: 4vh;
}

.tier {
    height: 4.5vh;
    width: 4.5vh;
}

.flag {
    height: 2vh;
    width: 3.5vh;
}

.platform {
    height: 3.5vh;
    width: 3.5vh;
}

.namecontainer {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nameurl {
    display: inline-block;
    margin-left: -0.5vw;
}

.socialscontainer {
    margin-right: 1vw;
    margin-top: 0.7vh;
    display: inline-block;
}

.social {
    height: 2.6vh;
    width: 2.6vh;
    padding-left: 0.3vw;
}

.history_buttons {
    font-size: 0;
    margin-left: 3vh;
    position: absolute;
    top: -4vh;
}

.history_buttons button {
    border: none;
    cursor: pointer;
    height: 4vh;
    width: 8vh;
    background-color: #282829;
    color: #d3d3d3;
}

.history_buttons button:first-child {
    border-right: 2px solid #1d1d1d;
}

.history_buttons button:disabled {
    background-color: #1d1d1d;
    color: #747474;
    cursor: initial;
}

@media screen and (max-width: 1024px) {
    .inlinetables {
        margin-left: 0;
        margin-top: 8vh;
    }
    .trackertable {
        justify-self: center;
    }
    .trackertable table{
        width: 100% !important;
        font-size: 26pt !important;
    }
    table td:nth-child(6),
    table td:nth-child(7),
    table td:nth-child(8),
    table td:nth-child(9),
    table th:nth-child(6),
    table th:nth-child(7),
    table th:nth-child(8),
    table th:nth-child(9) {
        display: none;
    }
    .socialscontainer {
        display: none;
    }
    .trackertable td {
        height: 7vh;
    }
    .trackertable th {
        height: 7vh;
    }
    .trackertable td:first-child {
        padding-left: 2vh !important;
        min-width: 28vw;
    }
    .trackertable th:first-child {
        padding-left: 2vh !important;
    }
    .trackertable td:nth-child(n+2):nth-child(-n+4) {
        min-width: 8vw !important;
        width: 12vw;
    }
    .trackertable td:nth-child(n+2):nth-child(-n+4) img {
        margin-left: -3vh;
    }
    .trackertable th:nth-child(n+2):nth-child(-n+4) {
        min-width: 8vw !important;
        width: 8vw;
        padding-left: 6vw;
    }
    .trackertable td:nth-child(5) {
        padding-left: 2vh;
        padding-right: 2vh;
    }
    .trackertable th:nth-child(5) {
        padding-left: 2vh;
    }
    .tier {
        height: 4.5vh;
        width: 4.5vh;
    }
    .history_buttons {
        position: relative;
        top: initial;
        display: flex;
        justify-content: flex-end;
        margin-left: 0;
    }
    .history_buttons button {
        font-size: 26pt !important;
    }
}

