.mmrtable {
    width: 100%;
    color: #d3d3d3;
}

.navbar {
    background-color: #1d1d1d;
    height: 6vh;
    width: 100%;
    display: flex;
    position: relative;
}


.navbar__button {
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: inherit;
    flex-grow: 1;
}

.navbar__select {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 50%;
    justify-content: center;
    display: inherit;
    align-items: center;
    position: relative;
    background-image: url("icons/mmr_select_downarrow.svg");
    background-size: 1vh;
    background-repeat: no-repeat;
    background-position: right 1vw top 2.7vh;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
    border: none;
    z-index: 1;
    list-style: none;
    width: 100%;
    display: table;
}

.dropdown-menu li {
    height: 6vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-top: 2px solid #282829;
}

.dropdown-menu li:hover {
    background-color: #282829;
}

.mmrdata {
    text-align: center;
    font-size: 18pt;
    height: 32vh;
    border: 5px solid #1d1d1d;
    border-top: none;
    background-color: #161616;
}

.mmrdata__item {
    padding-top: 5vh;
}

.mmrdata__item p {
    margin: 0;
    height: 6vh;
}

.active {
    background-color: #282829;
}

.hidden {
    display: none;
}

.visible {
    /*display: block;*/
}

@media screen and (max-width: 1024px) {
    .mmrtable {
        margin-top: 3vh;
    }

    .navbar {
        height: 7vh;
    }

    .navbar__button, .navbar__select {
        font-size: 26pt !important;
    }

    .dropdown-menu li {
        font-size: 26pt !important;
        height: 7vh;
        /*padding-top: 1vh;*/
    }

    .mmrdata {
        font-size: 36pt;
        height: 20vh;
    }
    .mmrdata__item {
        padding: 0;
        padding-top: 2.5vh;
    }
    .mmrdata__item p {
        margin: 0;
        height: 4vh;
    }

}