.mmrtable {
    width: 100%;
    color: #d3d3d3;
}

.navbar {
    background-color: #1d1d1d;
    height: 6vh;
    width: 100%;
    display: flex;
    position: relative;
}


.navbar__button {
    border: none;
    cursor: pointer;
    font-size: 12pt;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: inherit;
    flex-grow: 1;
}

.navbar__select {
    cursor: pointer;
    font-size: 12pt;
    font-weight: bold;
    width: 50%;
    justify-content: center;
    display: inherit;
    align-items: center;
    position: relative;
    background-image: url("icons/mmr_select_downarrow.svg");
    background-size: 1vh;
    background-repeat: no-repeat;
    background-position: right 1vw top 2.6vh;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
    border: none;
    z-index: 1;
    list-style: none;
    width: 100%;
}

.dropdown-menu li {
    height: 6vh;
    display: block;
    text-align: center;
    border-top: 2px solid #282829;
    line-height: 6vh;
}

.dropdown-menu li:hover {
    background-color: #282829;
}

.mmrdata {
    text-align: center;
    font-size: 18pt;
    height: 32vh;
    border: 5px solid #1d1d1d;
    border-top: none;
    background-color: #161616;
}

.mmrdata__item {
    padding-top: 6vh;
}

.mmrdata__item p {
    margin: 0;
    height: 5vh;
}

.active {
    background-color: #282829;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1024px) {
    .mmrtable {
        margin-top: 3vh;
        width: 83%;
    }
    .navbar {
        height: 7vh;
    }
    .navbar__button, .navbar__select {
        font-size: 26pt !important;
        background-position: right 2vw top 3.2vh;
    }
    .dropdown-menu li {
        font-size: 26pt !important;
        height: 7vh;
        line-height: 7vh;
    }
    .mmrdata {
        font-size: 36pt;
        height: 24vh;
    }
    .mmrdata__item {
        padding-top: 3vh;
    }
    .mmrdata__item p {
        margin: 0;
        height: 5vh;
    }
}