
.waitingnavbar {
    background-color: #1d1d1d;
    height: 6vh;
    width: 100%;
    display: flex;
    position: relative;
}

.waitingnavbar__button {
    cursor: pointer;
    font-size: 12pt;
    font-weight: bold;
    height: 6vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: inherit;
}

.waitingmmr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.waitingmmr img {
    width: 10vh;
    margin-top: 6vh;
}

.waitingmmr .notplaying {

    color: dimgray;
    font-size: 12pt;
}

@media screen and (min-width: 1025px) and (max-width: 1500px) {
    .inlinetables {
        display: grid;
        grid-column-gap: 2vh;
        width: 100% !important;
    }
}

@media screen and (max-width: 1024px) {
    .waitingnavbar__button {
        font-size: 26pt !important;
    }
    .notplaying {
        font-size: 18pt !important;
    }
    .mmrtable {
        width: 80%;
    }
}