.waitingnavbar {
    background-color: #1d1d1d;
    height: 57px;
    width: 100%;
    display: flex;
    position: relative;
}

.waitingnavbar__button {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 55px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: inherit;
}

.waitingmmr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.waitingmmr img {
    width: 98px;
    margin-top: 70px;
}

.waitingmmr .notplaying {

    color: dimgray;
    font-size: 16px;
}