.trackertable thead {
    position: relative;
    /*box-shadow: 0 0 0 1px #1d1d1d;*/
    z-index: 1;
}

.trackertable .tablebottom {
    margin-top: 0;
}

.trackertable tbody{
    background: linear-gradient(to bottom, #4d6387 50%, #ad5149 50%);
    border: 5px solid #1d1d1d;
    border-collapse: collapse;
    z-index: -1;
}


.trackertable th {
    background-color: #1d1d1d;
}

.trackertable tr {
    border-collapse: collapse;
    border-top: hidden;
}

.trackertable tr:nth-child(n+2):nth-child(-n+6) {
    border-top: none;
    border-bottom: none;
}

.trackertable td:nth-child(n+2):nth-child(-n+4) {
    background-color: #161616;
}
.trackertable th:nth-child(n+2):nth-child(-n+4) {
    background-color: #1d1d1d;
}

.trackertable td {
    background-color: #161616;
}

.trackertable .waiting {
    width: 128px;
    margin-top: -4vh;
}

.trackertable .notplaying {
    color: dimgray;
    margin-left: -1.5vh;
}