{% if matchData %}

<table>
<thead>
<tr>
    <th>Name</th>
    <th>1v1</th>
    <th>2v2</th>
    <th>3v3</th>
    <th>Wins</th>
    <th><p title="Competitive games this season">Games <sup>*</sup></p></th>
    <th>Reward level</th>
    <th>Country</th>
    <th>Platform</th></tr>
</thead>
<tbody>
{% for player in matchData[1:] %}
<tr>
    <td>{{ player['handleLink']|safe }}</td>
    <td>{{ player['1v1']|safe }}</td>
    <td>{{ player['2v2']|safe }}</td>
    <td>{{ player['3v3']|safe }}</td>
    <td>{{ player['Wins']|safe }}</td>
    <td>{{ player['Games']|safe }}</td>
    <td>{{ player['Rewardlevel']|safe }}</td>
    <td>{{ player['Country']|safe }}</td>
    <td>{{ player['Platform']|safe }}</td></tr>
{% endfor %}
</tbody>
</table>

{% else %}

<body>
    <div class="basetable_container">
	<div class="basetablenav">
		<div>Name</div>
        <div>1v1</div>
        <div>2v2</div>
        <div>3v3</div>
        <div>Wins</div>
        <div>Games</div>
        <div>Reward level</div>
        <div>Country</div>
        <div>Platform</div>
	</div>

	<div class="basetable">
		<div class="basetablewaiting" id="mmr-placeholder">
			<img src="assets/icons/waiting.svg" alt="waiting...">
			<p class="notplaying">Awaiting Match</p>
		</div>
	</div>
    </div>
</body>


{% endif %}