{% extends 'table.html' %}
{% block MMRtrack %}
<head>
    <title>MMR Data</title>
    <script src="assets/MMR.js" type="text/javascript"></script>
    <link rel="stylesheet" href="assets/mmr.css">
</head>
<body>
<div class="navbar">
    {% for key, value in data.MMR.items() %}
    {% if value.active %}
    <div class="navbar__button" onclick="toggleData('mmr-{{ key }}')">{{ key }}</div>
    {% endif %}
    {% endfor %}
    {% if data.MMR|length > 1 %}
    <div class="navbar__select" onclick="toggleDropdown()">
        <p class="navbar__select_header">Previous</p>
        <ul class="dropdown-menu hidden">
            {% for key, value in data.MMR.items() %}
            {% if not value.active %}
            <li class='dropdown-li' onclick="toggleData('mmr-' + '{{ key }}')">{{ key }}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

<div id="mmr-data" class="mmrdata">
    {% for key, value in data.MMR.items() %}
    <div class="mmrdata__item {% if value.active %}visible{% else %}hidden{% endif %}" id="mmr-{{ key }}">
        <p>MMR: {{ value.delta }}</p>
        <p>Wins: {{ value.results.count('win') }}</p>
        <p>Losses: {{ value.results.count('loss') }}</p>
        <p>Streak: {{ value.streak }}</p>
    </div>
    {% endfor %}
</div>

</body>
{% endblock %}