{% if mmrData %}

<head>
    <title>MMR Data</title>
    <script src="assets/MMR.js" type="text/javascript"></script>
</head>
<body>
<div class="navbar">
    {% for key, value in mmrData.MMR.items() %}
    {% if value.active %}
    <div class="navbar__button" onclick="toggleData('mmr-{{ key }}')">{{ key }}</div>
    {% endif %}
    {% endfor %}
    {% if mmrData.MMR|length > 1 %}
    <div class="navbar__select" onclick="toggleDropdown()">
        <p class="navbar__select_header">Previous</p>
        <ul class="dropdown-menu hidden">
            {% for key, value in mmrData.MMR.items() %}
            {% if not value.active %}
            <li class='dropdown-li' onclick="toggleData('mmr-' + '{{ key }}')">{{ key }}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

<div id="mmr-data" class="mmrdata">
    {% for key, value in mmrData.MMR.items() %}
    <div class="mmrdata__item {% if value.active %}visible{% else %}hidden{% endif %}" id="mmr-{{ key }}">
        <p>MMR: {{ value.delta }}</p>
        <p>Wins: {{ value.wins }}</p>
        <p>Losses: {{ value.losses}}</p>
        <p>Streak: {{ value.streak }}</p>
    </div>
    {% endfor %}
</div>
</body>

{% else %}


<body>
	<div class="waitingnavbar">
		<div class="waitingnavbar__button">MMR</div>
	</div>

	<div class="mmrdata">
		<div class="waitingmmr" id="mmr-placeholder">
			<img src="assets/icons/waiting.svg" alt="waiting...">
			<p class="notplaying">Awaiting MMR</p>
		</div>
	</div>
</body>

{% endif %}