{% extends 'index.html' %}
{% block head %}
{% endblock %}
{% block body %}
<table>
<thead>
<tr><th>                                                                                                            Name</th><th>                                                                                       1v1</th><th>                                                                                       2v2</th><th>                                                                                       3v3</th><th>  Wins</th><th>  <p title="Competitive games this season">Games <sup>*</sup></p></th><th>Reward level                                                         </th><th>Influencer  </th><th>Premium  </th><th>Sussy  </th><th>Country  </th></tr>
</thead>
<tbody>
<tr><td><a href="https://rocketleague.tracker.network/rocket-league/profile/steam/76561198017024494/overview">poncho</a></td><td><img class="tier" src="../assets/d1.png" alt="d1" title="Diamond I"><span>III, -4</span>  </td><td><img class="tier" src="../assets/c2.png" alt="c2" title="Champion II"><span>III, -2</span></td><td><img class="tier" src="../assets/d3.png" alt="d3" title="Diamond III"><span>III, -5</span></td><td>5384  </td><td>431                                                              </td><td><img class="tier" src="../assets/c1.png" alt="c1" title="Champion I"></td><td>False       </td><td>False    </td><td>False  </td><td>EE       </td></tr>
<tr><td><a href="https://rocketleague.tracker.network/rocket-league/profile/psn/QDIOK/overview">QDIOK</a>               </td><td><img class="tier" src="../assets/p2.png" alt="p2" title="Platinum II"><span>III, -1</span></td><td><img class="tier" src="../assets/c2.png" alt="c2" title="Champion II"><span>IV, -2</span> </td><td><img class="tier" src="../assets/c2.png" alt="c2" title="Champion II"><span>III, -1</span></td><td>2700  </td><td>201                                                              </td><td><img class="tier" src="../assets/c1.png" alt="c1" title="Champion I"></td><td>False       </td><td>False    </td><td>False  </td><td>None     </td></tr>
</tbody>
</table>
{% endblock %}