{% block head %}
{% endblock %}
{% block body %}
<table>
<thead>
<tr><th>                                                                                                            Name</th><th>                                                                  1v1</th><th>                                                                   2v2</th><th>                                                                   3v3</th><th>  Wins</th><th>  Games</th><th>Reward level                                        </th><th>Influencer  </th><th>Premium  </th><th>Sussy  </th><th>Country  </th></tr>
</thead>
<tbody>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
</tbody>
</table>
{% endblock %}