{% extends 'index.html' %}
                     {% block head %}
                     {% endblock %}
                     {% block body %}
<table>
<thead>
<tr><th>                                                                                                            Name</th><th>                                                                  1v1</th><th>                                                                   2v2</th><th>                                                                   3v3</th><th>  Wins</th><th>  Games</th><th>Reward level                                      </th><th>Influencer  </th><th>Premium  </th><th>Sussy  </th><th>Country  </th></tr>
</thead>
<tbody>
<tr><td><a href="https://rocketleague.tracker.network/rocket-league/profile/steam/76561198017024494/overview">poncho</a></td><td><img class="tier" src="../assets/d2.png" alt="d2"><span>II, -1</span></td><td><img class="tier" src="../assets/c2.png" alt="c2"><span>III, -2</span></td><td><img class="tier" src="../assets/d3.png" alt="d3"><span>III, -5</span></td><td>5374  </td><td>408    </td><td><img class="tier" src="../assets/c1.png" alt="c1"></td><td>False       </td><td>False    </td><td>False  </td><td>EE       </td></tr>
<tr><td><a href="https://rocketleague.tracker.network/rocket-league/profile/epic/T.E.N.O.R./overview">T.E.N.O.R.</a>    </td><td><img class="tier" src="../assets/d2.png" alt="d2"><span>I, -1</span> </td><td><img class="tier" src="../assets/c2.png" alt="c2"><span>II, -2</span> </td><td><img class="tier" src="../assets/d1.png" alt="d1"><span>II, -1</span> </td><td>2454  </td><td>318    </td><td><img class="tier" src="../assets/c1.png" alt="c1"></td><td>False       </td><td>False    </td><td>False  </td><td>None     </td></tr>
</tbody>
</table>
{% endblock %}